# Project Configuration
PROJECT_NAME=codetocloud
DOCKER_USERZ=your-dockerhub-username
DOCKER_REPO=codetocloud
APP_TAG=latest

# AWS Configuration
AWS_REGION=ap-southeast-2
EC2_INSTANCE_ID=i-xxxxxxxxxxxxxxxxx

# Deployment Path
DEPLOY_PATH=/opt/codetocloud